/* 
Raul Rivera
1DAM
[4/03/2025] 
Ejercicio: Ejercicio 3: Modelo de Caja
*/


/* Estilos para la caja */
.caja {
    /* Ajustamos el tamaño de la caja */ 
    width: 300px;
    height: 150px;
    /* Establecemos un color de fondo amarrilo */ 
    background-color: yellow;
    /*Borde solido azul */ 
    border: 5px solid blue; 
    padding: 10px; /* Aañadimos un tamaño de padding */
    margin: 20px; /* Añadimos un margen */
    /* Texto centradado */ 
    text-align: center;

}
