/* Nombre: Raul Rivera  
Curso: 1ºDAM
Fecha:  4/03/25
Ejercicio 5: Grid Layout  */


/*Definimos los estilos basicos para todo el documento*/ 
body {
  background-color: rgb(143, 148, 153);
}

/* Estilos del contendor principal "el grid" */ 

.grid-container {
  display: grid;
  /* Definimos 3 columnas del mismo tamaño*/ 
  grid-template-columns: 1fr 1fr 1fr; 
  /* Definimos el tamaño de cada alemento por filas 
  /* Primera fila 100px y la segunda 200px */
  grid-template-rows: 100px 200px; 
  gap: 10px;
}


/* Estilos de las filas y columnas "items hijos" */ 

.item:nth-child(1) { background-color: #9ecb67; } 
.item:nth-child(2) { background-color: #61b4d2; }
.item:nth-child(3) { background-color: #3357ff; }
.item:nth-child(4) { background-color: #39584d; }
.item:nth-child(5) { background-color: #583566; }
.item:nth-child(6) { background-color: #d95142; }


/* Estilo de todos los items */ 

.item {
  border: solid black 3px;
  padding: 50px;
  text-align: center;
  color: white;
}

